
[workspace]
members = ["core", "tui", "xtask"]
default-members = ["tui", "core"]
resolver = "2"
[workspace.package]
license = "MIT"
version = "26.1.22"
edition = "2021"

[profile.release]
opt-level = "z"
debug = false
lto = true
codegen-units = 1
panic = "abort"
strip = true
incremental = false
