name: Script Checks

on:
  pull_request:
    paths:
      - '**/*.sh'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Run ShellCheck
        uses: reviewdog/action-shellcheck@4c07458
        with:
          shellcheck_flags: '--source-path=${{ github.workspace }}/.shellcheckrc'
          reviewdog_flags: '-fail-level=any'

  shfmt:
    name: Shell Fomatting
    runs-on: ubuntu-latest
    needs: shellcheck
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
