name: ShellCheck

on:
  pull_request:
    paths:
      - 'core/tabs/**/*.sh'
  workflow_dispatch:

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: git fetch origin ${{ github.base_ref }}

      - name: Download and set up shellcheck
        run : |
          wget https://github.com/koalaman/shellcheck/releases/download/v0.10.0/shellcheck-v0.10.0.linux.x86_64.tar.xz
          tar -xf shellcheck-v0.10.0.linux.x86_64.tar.xz
          cd shellcheck-v0.10.0
          chmod +x shellcheck

      - name: Run shellcheck
        run: |
          for file in $(git diff --name-only origin/${{ github.base_ref }} HEAD core/tabs); do
              if [[ "$file" == *.sh ]] && [[ -f "$file" ]]; then
                  ./shellcheck -S error "$file"
              fi
          done
