name: Check for typos

permissions:
  contents: read

on:
  [push, pull_request, workflow_dispatch]

jobs:
  check-typos:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: git fetch origin ${{ github.base_ref }}

      - name: Run spellcheck
        uses: crate-ci/typos@v1.41.0
