name: Check for typos

on:
  [push, pull_request, workflow_dispatch]

jobs:
  check-typos:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: git fetch origin ${{ github.base_ref }}

      - name: Run spellcheck
        uses: crate-ci/typos@v1.26.0
