name: Check for typos

permissions:
  contents: read

on:
  [push, pull_request, workflow_dispatch]

jobs:
  check-typos:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: git fetch origin ${{ github.base_ref }}

      - name: Run spellcheck
        uses: crate-ci/typos@891ef9d
